<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8" />
  <title>COVID-19 Co-morbidities - <%= title %></title>
  <link rel="stylesheet" href="/CSS/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
</head>
<body>
  <div id="wrap">
    <div id="header" style="background-image: url('/images/covid3.jpg');">
      <div class="container">
        <div class="header">
          <div class="header-menu" style="text-align: right">
            <a href="/">Home</a>
            <a href="https://www.cdc.gov/coronavirus/2019-ncov/hcp/clinical-care/underlyingconditions.html">CDC</a>
            <a href="https://github.com/programmer-ethan/Covid19-RiskFactor-NLP-WEB">Git</a>
          </div>
          <!-- //헤더 메뉴 -->
          <div class="header-tit">
            <h2>Covid-19 Co-morbidities Guide</h2>
          </div>
        </div>
      </div>
    </div><!--header-->

    <div id="contents">
      <form method="post" action="/topic/submit">
        <div class="container">
          <br/>
          <div class="row">
            <h3>Covid-19 Co-morbidities Guide</h3>
            <h6>Find Information About Covid-19 Co-morbidities From Paper</h6>
          </div>
          <div class="row">
            <br/>
            <div class="col-md-6">
              <br/>
              <!-- <div class="card" style="width: 18rem;">
                <div class="card-header">
                  Co-morbidities
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><input type="checkbox" name="RiskFactor" value="Cancer" />
                  Cancer</li>
                  <li class="list-group-item"><input type="checkbox" name="RiskFactor" value="Cerebrovascular disease" />
                    Cerebrovascular disease</li>
                  <li class="list-group-item"><input type="checkbox" name="RiskFactor" value="COPD (chronic obstructive pulmonary disease)" />
                    COPD (chronic obstructive pulmonary disease)</li>
                  <li class="list-group-item"><input type="checkbox" name="RiskFactor" value="Chronic kidney disease" />
                    Chronic kidney disease</li>
                  <li class="list-group-item"><input type="checkbox" name="RiskFactor" value="Diabetes" />
                    Diabetes</li>
                  <li class="list-group-item"><input type="checkbox" name="RiskFactor"
                    value="Heart conditions" />
                    Heart conditions</li>
                  <li class="list-group-item"><input type="checkbox" name="RiskFactor"
                    value="Obesity" />
                    Obesity</li>
                  <li class="list-group-item"><input type="checkbox" name="RiskFactor" value="Pregnancy" />
                    Pregnancy</li>
                  <li class="list-group-item"><input type="checkbox" name="RiskFactor" value="Smoking" />
                    Smoking</li>
                </ul>
              </div> -->
              <div class="form-group">
                <!-- <label for="Common Co-morbidities">Common Co-morbidities</label> -->
                <h4>Common Co-morbidities</h4>
                <select name="RiskFactor" multiple class="form-control" id="Common Co-morbidities">
                  <option>Cancer</option>
                  <option>Cerebrovascular disease</option>
                  <option>COPD (chronic obstructive pulmonary disease)</option>
                  <option>Chronic kidney disease</option>
                  <option>Diabetes</option>
                  <option>Heart conditions</option>
                  <option>Obesity</option>
                  <option>Pregnancy</option>
                  <option>Smoking</option>
                </select>
              </div>
            </div>
            
            <div class="col-md-6">
              <br/>
              <div class="form-group">
                <!-- <label for="Number Of Paper To View">Number Of Paper To View</label> -->
                <h4>Number Of Documents</h4>
                <select name="RiskFactor" class="form-control" id="Number Of Paper To View">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                </select>
              </div>
            </div>

            <div class="w-100 d-none d-md-block"></div>
            <br/>
            <div class="col-md-6">
              <h4>Discover Your Own Co-morbidities</h4>
              <input type="text" name="RiskFactor" class="form-control" placeholder="Enter Your Own Co-morbidities">
            </div>
            <div class="col-md-6">
              <h4><br/></h4>
              <button type="submit" class="btn btn-primary mb-3" onclick="Loading()">Discover</button>
            </div>
          </div>
        </div>
      </form>

      <div class="container">
        <div class="row">
          <br/>
          <%- body %>
          <br/>
        </div>
      </div>
    </div> <!-- /contents -->
    <div id="footer">© 2021 capstone</div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript">
    function Loading() {
        LoadingWithMask();
        // setTimeout("closeLoadingWithMask()", 3000);
    }
     
    function LoadingWithMask() {
        //화면의 높이와 너비를 구합니다.
        var maskHeight = $(document).height();
        var maskWidth  = window.document.body.clientWidth;
        //화면에 출력할 마스크를 설정해줍니다.
        var mask       ="<div id='mask' style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0;'></div>";
        var loadingImg ='';
        loadingImg +="<div id='loadingImg'>";
        loadingImg +=" <img src='/images/Spinner.gif' style='position: absolute; display: block; margin: 0px auto; left:45%; top:45%;'/>";
        loadingImg +="</div>"; 
        $('body')
            .append(mask)
            .append(loadingImg)
        //마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채웁니다.
        $('#mask').css({
                'width' : maskWidth,
                'height': maskHeight,
                'opacity' :'0.3'
        });
        //마스크 표시
        $('#mask').show();
        //로딩중 이미지 표시
        $('#loadingImg').show();
    }

  </script>
</body>
</html>  